{
  "presets": ["@babel/react", "@babel/env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "tests": "./tests",
          "assets": "./assets",
          "stories": "./stories"
        }
      }
    ]
  ]
}
